<div class="col-md-12 box">
  <div class="col-md-9 col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="body-header"><%= @term.title.to_s %></h4>
        </div>
        <div class="panel-body">
          <%= @term.description.to_s.html_safe %>
          <% if user_signed_in? && current_user.admin? %>
            <br />
            <%= link_to "Edit This Page", edit_term_path(@term), title: "Edit About" %>
          <% end %>
        </div>
    </div>
  </div>
  <%= render "pages/sidebar" %>
</div>
