<div class="col-md-3 col-sm-3 visible-lg visible-md visible-sm">
  <h4>Brought To You By</h4>
  <% Sponsor.all.each do |sponsor| %>
    <%= link_to sponsor.link.to_s, target: "_blank", rel: "noopener", title: sponsor.name.to_s do %>
      <%= image_tag sponsor.image.large.to_s, alt: sponsor.name.to_s, class: "img-responsive" %>
    <% end %>
    <br />
  <% end %>
</div>
